<HTML>
<HEAD>
<TITLE>{$title} </TITLE>
{literal}
 <style type="text/css">
   body{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   color:#333333;
   background-color:azure;
   }
          
 </style>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{/literal}
</HEAD>
<BODY bgcolor="skyblue">
