<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{$link}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.php">{$list1}</a></li>
      <li><a href="about_us.php">{$list2}</a></li>
      <li><a href="products.php">{$list3}</a></li>
      <li><a href="services.php">{$list4}</a></li>
            <li><a href="contact.php">{$list5}</a></li>

    </ul>
  </div>
</nav>