{include file="header.tpl"}
 {include file="nav.tpl"}
 <div class="container">
  <h3>{$header}</h3>
<br><br><br>
<p>
 <img src="rfid.jpg" alt="RFID" style="width:304px;height:228px;">&nbsp;
  <img src="beacon.jpg" alt="BEACON" style="width:304px;height:228px;">&nbsp;
   <img src="apple.jpg" alt="APPLE" style="width:304px;height:228px;">&nbsp;
    <img src="mac.jpg" alt="AJAX" style="width:304px;height:228px;">&nbsp;
    </p>
    </div>
    {include file="footer.tpl"}
