{include file="header.tpl"}
 {include file="nav.tpl"}
  
<div class="container">
  <h3>{$header}</h3>
  
 <p>{$page}</p>
 <ul style="color:brown;">
 <br><li>Digital Marketing</li>
 <br><li>Beacon</li>
 <br><li>Laptop</li>
 <br><li>Mobile</li>
<br><li>Networks</li>
</ul>
</div>

{include file="footer.tpl"}
